// helper
@import './helper/_variable.scss';
@import './helper/_mixin.scss';

// setting
@import './setting/_reset.scss';
@import './setting/_font.scss';
@import './setting/_grid.scss';
@import './setting/_form.scss';
@import './setting/_animation.scss';

// @import '../lib/fontawesome/css/all.css';

@import './public';

.g {
  color: #ccc;
  background-image: url(../img/acc.jpg);
}
.c {
  background-image: url(../img/pic.jpg);
}