// helper
@import './helper/_variable.scss';
@import './helper/_mixin.scss';

// setting
@import './setting/_reset.scss';
@import './setting/_font.scss';
@import './setting/_grid.scss';
@import './setting/_form.scss';
@import './setting/_animation.scss';

@import './public';

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    p{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
}
