@charset "UTF-8";
/* TRANSITION */
/* TRANSFORM */
/* ANIMATION */
/* SCROLLBAR */
/* ----------Extend---------- */
/*background*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/* ----------RESET---------- */
*:not(font, i) {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  width: 100%;
  min-width: 320px;
  position: relative;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

ul, li {
  list-style: none;
  font-size: inherit;
}

.content ul, ol {
  padding-left: 25px;
}

.content ul li {
  list-style: disc;
}

.content ol li {
  list-style: decimal;
}

.content a {
  color: #AF566D;
}

.module-html ul, ol {
  padding-left: 25px;
}

.module-html ul li {
  list-style: disc;
  color: #AF566D;
}

.module-html ol li {
  list-style: decimal;
  color: #AF566D;
}

.module-html a {
  color: #AF566D;
}

img {
  border: none;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

input,
textarea,
keygen,
select,
a,
a:active,
a:hover,
a:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input[type=search],
input[type=search]:hover,
input[type=search]:focus,
input[type=search]:active {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}

table {
  border-collapse: collapse;
}

/* ----------TEXT----------- */
html {
  font-size: 16px;
  color: #222222;
}

body {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  background-color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p,
a,
b,
small {
  font: inherit;
  color: inherit;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: none;
}

/* 62 */
h1, .h1 {
  font-size: 62px;
}

/* 48 */
h2, .h2 {
  font-size: 48px;
}

/* 40 */
h3, .h3 {
  font-size: 40px;
}

/* 30 */
h4, .h4 {
  font-size: 30px;
}

/* 24 */
h5, .h5 {
  font-size: 24px;
}

/* 20 */
h6, .h6 {
  font-size: 20px;
}

/* 18 */
.p-18 {
  font-size: 18px;
}

/* 16 */
p, .p {
  font-size: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
}

/* 14 */
small, .small {
  font-size: 14px;
}

/* 12 */
.supersmall {
  font-size: 12px;
}

.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.ls3 {
  letter-spacing: 3px;
}

.ls4 {
  letter-spacing: 4px;
}

.ls5 {
  letter-spacing: 5px;
}

.ls6 {
  letter-spacing: 6px;
}

.ls7 {
  letter-spacing: 7px;
}

.ls8 {
  letter-spacing: 8px;
}

.ls9 {
  letter-spacing: 9px;
}

.ls10 {
  letter-spacing: 10px;
}

.txt-prime {
  color: #2677A5;
}

.txt-dark_prime {
  color: #2677A5;
}

.txt-light_prime {
  color: #639BC1;
}

.txt-sub_prime {
  color: #90A74A;
}

.txt-dark_sub_prime {
  color: #5D8722;
}

.txt-dark_gray {
  color: #777777;
}

.txt-gray {
  color: #d7d7d7;
}

.txt-pale_gray {
  color: #F8F8F8;
}

.txt-white {
  color: #FFFFFF;
}

.txt-black {
  color: #222222;
}

.txt-link {
  text-decoration: underline;
}

.txt-thin {
  font-weight: 300;
}

.txt-regular {
  font-weight: 400;
}

.txt-medium {
  font-weight: 500;
}

.txt-bold {
  font-weight: 500;
}

.txt-superbold {
  font-weight: 800;
}

b, strong {
  font-weight: bolder;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-up {
  text-transform: uppercase;
}

/* ----------RWD----------------------- */
@media screen and (max-width: 1440px) {
  h1, .h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 1023px) {
  h1, .h1 {
    font-size: 2.8rem;
  }
  h2, .h2 {
    font-size: 2.2rem;
  }
  h3, .h3 {
    font-size: 1.8rem;
  }
  h4, .h4 {
    font-size: 1.5rem;
  }
  h5, .h5 {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  h1, .h1 {
    font-size: 2.3rem;
  }
  h2, .h2 {
    font-size: 2rem;
  }
  h3, .h3 {
    font-size: 1.5rem;
  }
  h4, .h4 {
    font-size: 1.3rem;
  }
  h5, .h5 {
    font-size: 1.2rem;
  }
  h6, .h6 {
    font-size: 1.1rem;
  }
  small, .small {
    font-size: 0.95rem;
  }
}
/* ----------BLOCK---------- */
.fleft {
  float: left;
}

.fright {
  float: right;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.w800,
.w900,
.w1000,
.w1100,
.w1200,
.w1300,
.w1400,
.w1600 {
  width: 80%;
  margin: 0 auto;
}

.w800 {
  max-width: 800px;
}

.w900 {
  max-width: 900px;
}

.w1000 {
  max-width: 1000px;
}

.w1100 {
  max-width: 1100px;
}

.w1200 {
  max-width: 1200px;
}

.w1300 {
  max-width: 1300px;
}

.w1400 {
  max-width: 1400px;
}

.w1600 {
  max-width: 1600px;
}

.col100,
.col90,
.col80,
.col75,
.col70,
.col65,
.col66,
.col60,
.col50,
.col40,
.col35,
.col33,
.col30,
.col25,
.col20,
.col15,
.col05 {
  display: inline-block;
  vertical-align: top;
}

.col100 {
  width: 100%;
}

.col90 {
  width: 90%;
}

.col80 {
  width: 80%;
}

.col75 {
  width: 75%;
}

.col70 {
  width: 70%;
}

.col66 {
  width: 66.6666%;
}

.col65 {
  width: 65%;
}

.col60 {
  width: 60%;
}

.col50 {
  width: 50%;
}

.col50:nth-child(odd) {
  margin-left: 0px;
}

.col45 {
  width: 45%;
}

.col40 {
  width: 40%;
}

.col35 {
  width: 35%;
}

.col30 {
  width: 30%;
}

.col33 {
  width: 33.3333%;
}

.col25 {
  width: 25%;
}

.col20 {
  width: 20%;
}

.col15 {
  width: 15%;
}

.col05 {
  width: 5%;
}

.ib-middle {
  display: inline-block;
  vertical-align: middle;
}

.ib-top {
  display: inline-block;
  vertical-align: top;
}

.main_padding {
  padding: 5% 0;
}

.main_padding-b {
  padding-bottom: 5%;
}

.main_padding-t {
  padding-top: 5%;
}

.main_margin {
  margin: 5% 0;
}

.main_margin-b {
  margin-bottom: 5%;
}

.main_margin-t {
  margin-top: 5%;
}

.header-top {
  position: relative;
}

.header-top::before {
  content: "";
  display: block;
  height: 78px;
  position: relative;
}

/* ----------RWD----------------------- */
@media screen and (max-width: 1023px) {
  .w800,
  .w900,
  .w1000,
  .w1100,
  .w1200,
  .w1300,
  .w1400,
  .w1600 {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .main_padding {
    padding: 50px 0;
  }
  .main_padding-b {
    padding-bottom: 50px;
  }
  .main_padding-t {
    padding-top: 50px;
  }
  .main_margin {
    margin: 50px 0;
  }
  .main_margin-b {
    margin-bottom: 50px;
  }
  .main_margin-t {
    margin-top: 50px;
  }
}
/* ----------FORM----------- */
input[type=text]:not(.el-input__inner),
input[type=email]:not(.el-input__inner),
input[type=password]:not(.el-input__inner),
textarea,
select {
  width: 100%;
  border: none;
  margin: 7px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 7px 10px;
  letter-spacing: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

option {
  text-align: center;
}

label.select {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

label.select:before {
  content: "";
  display: block;
  width: 50px;
  height: 27px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  margin: auto 0;
  pointer-events: none;
}

label.select:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #003979 transparent transparent transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
  pointer-events: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ccc;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

/*radio&checkbox樣式覆蓋*/
input[type=radio]:not(old),
input[type=checkbox]:not(old) {
  width: 0;
  margin: 0;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
}

input[type=radio]:not(old) + label,
input[type=checkbox]:not(old) + label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin: 7px 0px;
  margin-right: 10px;
  cursor: pointer;
  letter-spacing: 0;
}

input[type=radio]:not(old) + label > span,
input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 3px 8px 3px 5px;
  position: relative;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #cccccc;
  vertical-align: middle;
  cursor: pointer;
}

input[type=radio]:not(old):checked + label > span:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #2677A5;
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #2677A5;
}

input[type=file]:not(old) {
  width: 0;
  margin: 0;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
}

/* ----------ANIMATION------ */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes showContent {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes showContent {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInFromDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInFromDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes arrow_v {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes arrow_v {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes arrow_h {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes arrow_h {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.btn {
  padding: 5px 15px;
  color: #fff;
  background-color: #66B1F2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  background-color: rgba(102, 177, 242, 0.9);
}

.g {
  background-image: url(../img/acc.jpg);
}/*# sourceMappingURL=main.css.map */