$color-dark_prime:#2677A5;
$color-prime: #2677A5;
$color-light_prime:#639BC1;

$color-sub_prime: #90A74A;
$color-dark_sub_prime: #5D8722;

$color-black: #222222;
$color-dark_gray: #777777;
$color-gray: #d7d7d7;
$color-pale_gray: #F8F8F8;
$color-white: #FFFFFF;

$font-set: "Noto Sans TC", "微軟正黑體", sans-serif;
